<div class="container">
  <div class="profile">
    <div class="hamburger-icon">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <div class="profile-item">
      <img src="https://cdn.pixabay.com/photo/2019/11/29/21/30/girl-4662158_640.jpg" alt="">
      <span class="name">Ім'я: Леся Українка </span>
      <span class="status">Статус: Прекрасно</span>
      <span class="feature">Майбутнє</span>
      <button class="home"> <fa-icon [icon]="faHome" class="icon"></fa-icon>Домашня сторінка</button>
      <button class="appointment">  <fa-icon [icon]="user" class="icon"></fa-icon>Записатися на прийом</button>
      <button class="drugs"><fa-icon [icon]="hospital" class="icon"></fa-icon>Купити ліки</button>
      <button class="logout"><fa-icon [icon]="logout" class="icon"></fa-icon>Вийти</button>
    </div>
  </div>
</div>
