<div class="container">
    <h1 class="heading">Клініка "Орфей-ІФ"</h1>
    <ul class="nav">
      <li routerLink="/admin"><fa-icon [icon]="home" class="icon"></fa-icon>Домашня сторінка</li>
      <li routerLink="/admin/users"><fa-icon [icon]="user" class="icon"></fa-icon>Пацієнти</li>
      <li><fa-icon [icon]="hospital" class="icon"></fa-icon>Лікарі</li>
      <li routerLink="/admin/adduser"><fa-icon [icon]="add" class="icon"></fa-icon>Додати пацієнта</li>
      <li><fa-icon [icon]="block" class="icon"></fa-icon>Блок</li>
      <li><fa-icon [icon]="logout" class="icon"></fa-icon>Вийти</li>
    </ul>
</div>
