.container{
  margin: 30px;
}
.users-header{
  background-color: #203354;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #aaaaaa;
  font-weight: 900;
  border-radius: 5px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.search input{
  padding: 7px;
  width: 50%;
  border-radius: 5px;
  font-weight: 500;
}
