.container{
  margin: 20px;
}
.charts{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}
.pie, .line{
  height: 300px;
  width: 450px;
  box-shadow: 10px 10px 5px #aaa;
  font-size: 20px;
  font-weight: 900;
}
.requests{
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: space-evenly;
}
h2{
  color:#222222;
  margin: 20px 0px;
}

.newUser{
  font-weight: bold;
}
.approval-item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.approval-item button{
  padding: 5px;
  margin: 5px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
